.homePageWrapper{
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
}

.formWrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color: #4aee88;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
}

.homePgaeLogo{
  height: 80px;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.joinBtn , .leaveBtn{
  background: #4eed88;
  width: 100px;
  margin-left: auto; 
  margin-bottom: 5px;
}

.joinBtn:hover, .leaveBtn:hover{
  background: #2b824c;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.createNewBtn{
  text-decoration: none;
  color: #4aee88;
  border-bottom:1px solid #4aee88 ;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover , footer a:hover{
  color: #368654;
  border-bottom: #368654;
}

.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside{
  background: #1c1e29;
  color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  

}
.asideInner{
  flex: 1;
}

.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.client{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.userName{
  margin-bottom: 10px;

}

.logo{
  border-bottom: 1px solid #424242;
}

.logoImg{
  height: 60px;
}

.leaveBtn{
  margin-top: 10px;
  width: 100%;

}

.CodeMirror{
  min-height: calc(100vh - 20px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}